<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para acceder a Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TiendaDeCelulares"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".ProductListActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:label="Registro" />
        <activity
            android:name=".ProductDetailActivity"
            android:label="Detalles del Producto" />
        <activity
            android:name=".CartActivity"
            android:label="Carrito de Compras" />
        <activity
            android:name=".OrderHistoryActivity"
            android:label="Historial de Pedidos" />

        <!-- Actividades de Administrador -->
        <activity
            android:name=".AdminDashboardActivity"
            android:label="Panel de Administrador" />
        <activity
            android:name=".AdminProductListActivity"
            android:label="Gestionar Productos" />
        <activity
            android:name=".AddEditProductActivity"
            android:label="Añadir/Editar Producto" />
        <activity
            android:name=".AdminUserListActivity"
            android:label="Gestionar Usuarios" />

    </application>

</manifest>